body {
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
}

input {
	background-color: black;
	border-color: rgb(100, 100, 100);
	border-style: dashed;
	color: white;
	outline: none;
}

textarea {
	background-color: black;
	border-color: rgb(100, 100, 100);
	border-style: dashed;
	color: white;
	outline: none;
	resize: none;
}

button {
	background-color: black;
	border-color: rgb(100, 100, 100);
	border-style: dashed;
	color: white;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}

.splash {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
	width: 50%;
}

.info form {
  display: flex;
  justify-content: center;
}

.info form #gender {
  margin: 0 12px;
}

.info form h2 {
  margin-top: 0;
}

.chat {
	display: none;
}

.status {
	display: none;
}